.LoginPage{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginBtn{
  border: none;
  padding: 6px;
  outline: none;
  background-color: #f2f0f0;
  border: 1px solid #c3c1c1;
}

.LoginBtn:hover{
  background-color: #e3e0e0;
}